{% extends "base.html" %}
{% block title %}Australia{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-9">

	<h1>He fet un canvi tremendo!</h1>

        <p><strong>Australia</strong>, officially the <strong>Commonwealth o Australia</strong>, is a sovereign country
            comprising the mainland of the Australian continent, the island of Tasmania, and numerous smaller islands.
        </p>

	<h3>By Marc Coca, 02/03/2023</h3>

    </div>
    <div class="col-6 col-md-3">
        <img class="img-fluid" src="/static/australia.jpg" alt="Australia satelite plane">
    </div>
</div>
{% endblock %}
